/* header */
.header {
   width: 100%;
   height: fit-content;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-family: "Oxygen", sans-serif;
}

.headerImg {
   width: 100%;
   height: 100%;
}

.discount {
   display: flex;
   justify-content: end;
   color: orangered;
   font-family: "Manrope", sans-serif;
   border-top: 1px dashed rgb(110, 110, 110);
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.09), 0 2px 4px rgba(0, 0, 0, 0.09),
      0 4px 8px rgba(0, 0, 0, 0.09), 0 8px 16px rgba(0, 0, 0, 0.09);
}

.h1 {
   margin-right: 2rem;
}

/* header */

/* main */
.container {
   width: 100vw;
   height: fit-content;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 2rem 0;
}

.gridDiv {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 1.4rem;
}

.GridItemCont {
   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
      0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
      0 16px 16px rgba(0, 0, 0, 0.12);
}

.gridItemFlex {
   display: flex;
   align-items: center;
   border-bottom: 1px dashed rgb(85, 85, 85);
}

.code {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.codeSpan {
   font-size: medium;
   font-weight: 600;
}

.adImg {
   height: 14rem;
   width: 20rem;
}

.icon {
   font-size: xx-large;
   margin: 0 0.7rem;
}

.desc {
   font-family: "Nunito", sans-serif;
}

.coupon {
   margin-left: 0.8rem;
   font-weight: 500;
}

.discountPercent {
   color: red;
   font-family: "Lato", sans-serif;
   margin-right: 1rem;
}
/* main */
